body {
    padding-top: 54px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.navbar {
    padding: .1rem 1rem;
}

.navbar .navbar-brand img#logo{
    width:28px;
    height:28px;
    float:left;
}

.navbar .navbar-brand img#text{
    width:235px;
    height:13px;
    float:left;
    margin-top: 8px;
    margin-left:8px;
}

.navbar-nav .nav-link{
    color: #fff;
    font-weight: bold;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif
}

.container>div:first-child {
    padding-top: 20px;
}

.mb-4, .my-4{
    margin-top:0 !important;
}

.mt-4, .my-4 {
    margin-top: 0rem !important;
}

.proposal-info-table td {
    padding: .35rem !important;
}

.proposal_address {
    white-space: pre-wrap;
    padding: 2px;
    border-radius: 2px;
    margin-top: 6px;
    font-weight: bold;
    color: #ff0000;
    font-size: 22px;
    margin-bottom: 0;
}

.proposal_content blockquote {
    background-color: #efefef;
    padding: 8px;
}

.proposal_content h1, .proposal_content h2, .proposal_content h3, .proposal_content h4{
    margin-bottom: 16px;
    margin-top: 16px;
}

.proposal_content p {
    margin-bottom: 0.5rem;
}

.proposal_content img {
    margin-top:8px;
    margin-bottom:8px;
    max-width: 70%;
}

.proposal_content code {
    background: #ebebeb;
    padding: 2px;
}

.table td, .table th {
    padding: 0.35rem;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
  background-image: url("/static/bg.png");
  background-repeat: repeat;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #f5f5f5;
}

.bg-dark {
    background: linear-gradient(90deg, #d253c8, #ffa93e);
}

.navbar-dark .navbar-brand {
    color: #fff;
    font-size: 18pt;
    text-shadow: 2px 2px #667ff952;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.table-proposal td {
    font-size: 15px;
}

.table-proposal tbody td:first-child{
    word-break: break-word;
    width: 40%;
}

.table-hover tbody tr:hover {
    background-color: rgba(0,0,0,.075);
}

.table th, .table td {
    border-top: 1px solid #008926;
    padding-top: .3rem;
}

.table-tilted{
    -ms-transform: rotate(0.5deg);
    -webkit-transform: rotate(0.5deg);
    transform: rotate(0.5deg);
}

.table-tilted-v{
    -ms-transform: rotate(-0.2deg);
    -webkit-transform: rotate(-0.2deg);
    transform: rotate(-0.2deg);
}

.table-no-header thead{
    display: none;
}

.table-wow{
    background-image: url(https://wownero.win/static/game-table-bg.png);
    background-size: cover;
}

.table a{
    color: #006400;
}

.table thead th {
    border-bottom: 1px solid #008926 !important;
    border-top: none;
    font-size: 14px;
}

.table tbody td.date {
    max-width: 100px;
}

.table tbody td.user {
    font-size: 14px;
}

.table tbody td{
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-left-color: #008926;
    border-left-width: 2px;
    border-top-color: #008926;
    border-top-width: 1px;
    border-right-color: #008926;
    border-right-width: 1px;
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    border-bottom-color: #008926;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: #e9ecef #e9ecef #dee2e6;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: #00892630 #00892630 #008926;
}

a {
    color: #008926;
}

.btn-group-toggle a{
    color: white;
}

.btn-group-toggle a:hover{
     text-decoration: none;
}

.btn-primary{
    background-color: #28a745;
    border-color: #28a745;
}

.btn-primary:hover{
    color: #fff;
    background-color: #1e7e34;
    border-color: #1c7430;
}

.card-body {
    background-color: #00000008;
}

.card {
    background-color: #ffffff00;
    border: 0px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-header {
    padding: 0.5rem;
    padding-left: 1.0rem;
    font-size: 16px;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    background: linear-gradient(90deg, #d253c829, #ffa93e69);
    /*background: linear-gradient(90deg, #40d61e1f, #ffa93e69);*/
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    border-bottom: 1px solid #e6e6e6;
    border-bottom: 0px;
}

.proposal_content{
    background-color: #00000008;
    padding: 1.25rem 1.25rem;
}

.form-control {
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #008926;
}

/*fuku chrome*/
input {
 outline:none;
}
input:focus {
    outline: 0;
}
*:focus {
outline: none;
}
input[type="text"], textarea {
outline: none;
box-shadow:none !important;
border: 1px solid #008926 !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

nav .nav-link{
    color: white;
}

nav .nav-link .active{
    text-shadow: none;
}

.proposal-info-table td{
    border-top: 0;
}


.proposal-info-table td span.badge{
    font-size:20px;
}

.table-proposal .progress {
    max-width: 70px !important;
    min-width: 50px !important;
    float:right;
}

.table-proposal .progress-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-shadow: 1px 1px #000000;
    text-align: center;
    white-space: nowrap;
    background-color: #009845;
    transition: width .6s ease;
    font-family: monospace;
    padding: 6px;
}

#point-wow-left{
    display: inline;
}

@media only screen and (max-width: 600px) {
    .proposal-info-table tr:first-child>td, .proposal-info-table tr:first-child>td>span {
        font-size: 28px !important;
        font-weight: 100;
    }

    .navbar-dark .navbar-brand {
        font-size: 13pt;
    }

    .proposal-info-table tr:first-child>td, .proposal-info-table tr:first-child>td>span {
        font-size: 14px !important;
    }

    .proposal-info-table td span.badge {
        font-size: 14px;
    }

    .proposal_content {
        background-color: #00000008;
        padding: 0.1rem 0.75rem;
    }

    .card-body{
        padding: 0.5rem;
    }

    #point-wow-left{
        display: none;
    }

    .table-proposal thead th#date, .table-proposal tbody td#date{
        display: none;
    }

    .table-proposal, .table-proposal td{
        font-size:14px !important;
    }

    .navbar-brand {
        display: none;
    }

    .navbar-brand-mobile{
        display: block !important;
        color: white;
        font-size:14px;
    }

    pre.proposal_address{
        font-size:14px;
    }

    label {
        font-size:12px !important;
    }
}

@media only screen and (max-width: 768px) {
    #point-wow-left {
        display: none;
    }
}

textarea.comment{
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    width: 100%;
    max-width: 600px;
}

.votearrow {
    width: 10px;
    height: 10px;
    border: 0px;
    margin: 3px 2px 6px;
    margin-right: 10px;
    margin-top: 7px;
    background: url(/static/grayarrow.gif) no-repeat;
}

span.username a{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12pt;
    color: #828282;
}

.comment-container a.reply{
    margin-bottom:2px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11pt;
    text-decoration: underline;
    color: black;
}

span.date_posted a{
    color: #828282;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10pt;
    margin-left:2px;
}

.comment-container .comment-container{
    margin-top: 0.4rem !important;
}

.comment-container, .comment-container .comment-container{
    margin-bottom: 0.4rem !important;
    font-family: serif;
    font-size: 16px;
}

span.username a.author{
    color: #008926;
    font-weight: bold;
}

:target {
    background: linear-gradient(90deg, #ff606008, #ffa93e2b);
}

.form-admin{
    border: 1px solid #b60000;
}

ul.b {
    list-style-type: square;
    padding-left: 1.0rem;
}

.media-body #comment{
    word-break: break-all;
}

.api_documentation code{
    background-color: #f3f3f3;
    padding: 4px;
    padding-top:2px;
    padding-bottom:2px;
}

.api_documentation pre{
    margin-top:0;
    background-color: #f3f3f3;
    padding: 4px;
    font-size: 12px;
    padding-left:8px;

    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.api_documentation .api_container hr{
    margin-bottom: 14px;
    margin-top: 12px;
}

.api_documentation .api_container{
    margin-bottom: 60px;
}

.sidebar .card-body{
    padding: 1.0rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(/static/fonts/roboto-1.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(/static/fonts/roboto-2.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(/static/fonts/roboto-3.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(/static/fonts/roboto-4.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(/static/fonts/roboto-5.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(/static/fonts/roboto-6.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(/static/fonts/roboto-7.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.proposal-overview .table-proposal[data-status="4"] {
    opacity: 0.4;
}

.proposal-overview .table-proposal[data-status="4"] thead th {
    border-bottom: 1px solid #4b4b4b !important;
}

.proposal-overview .table-proposal[data-status="4"] td {
    border-top: 1px solid #4b4b4b;
}

.proposal-overview .table-proposal[data-status="4"], .proposal-overview .table-proposal[data-status="4"] a {
    color: #4b4b4b;
}

.comments-panel {
    background-color: #ffffffb0;
}

.comments-panel .comment-container .media-body span.body img{
    max-width:500px;
    max-height:600px;
    display: inline;
    width: 100%;
}

.wow_addy{
    color: red;
    cursor: pointer;
    font-family: monospace;
    background: #f6f6f6;
    font-size:14px;
}

.wow_addy[data-active="true"]{
    cursor: default;
}
