{% extends "base.html" %}
{% block content %}

{% if user %}
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <span class="form-text text-muted" style="margin-top: -2px;">
                Details for '{{user.username}}'
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            {% if user.proposals %}
                <table class="table table-proposal table-hover" style="margin-bottom:6px;">
                    <tbody>
                        {% for p in user.proposals %}
                        <tr>
                            <td><b><a href="/proposal/{{ p.id }}">{{ p.headline }}</a></b></td>
                            <td><a href="/user/{{ p.user.username }}">{{ p.user.username }}</a></td>
                            <td>{{ p.date_added.strftime('%Y-%m-%d') }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                This user did not submit any proposals yet.
            {% endif %}
        </div>

        {% include 'sidebar.html' %}

    </div>

    <br>

</div>
{% else %}
No user found by that name.
{% endif %}
<!-- /.container -->
{% endblock %}
