{% extends "base.html" %}
{% block content %}
{% from 'proposal/macros/table.html' import proposal_table %}

<div class="container" style="margin-top:8px;">
    {% include 'proposal/macros/navbar.html' %}

    <div class="row">
        <div class="col-lg-8">
            <div class="row">
                <div class="col-lg-12">
                    {% if proposals['proposed'] %}
                        {{ proposal_table(title='Proposals', _proposals=proposals['proposed']) }}
                        <hr>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    {% if proposals['funding'] %}
                        {{ proposal_table(title='Funding required', _proposals=proposals['funding']) }}
                        <hr>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    {% if proposals['wip'] %}
                        {{ proposal_table(title='WIP / Help needed', _proposals=proposals['wip']) }}
                    {% endif %}
                </div>
            </div>
        </div>

        {% include 'sidebar.html' %}
    </div>


</div>
<!-- /.container -->
{% endblock %}
