{% macro proposal_table(title, status, _proposals) %}
    <div class="wowtable" data-status="{{ status }}" style="{% if status == 4 %}opacity: 0.3;{% endif %}">
      <div class="trow header">
        <div class="item comments">
          <img style="padding-top:2px;" width="24" src="/static/msg.png">
        </div>
        <div class="item small">
          <span>Funded</span>
        </div>
        <div class="item small">
          <span class="alignl">Date</span>
        </div>
        <div class="item small">
          <span class="alignl">Username</span>
        </div>
        <div class="item big">
          <span>{{title}}</span>
        </div>
      </div>
      <div class="trow divider"></div>

      {% for p in _proposals %}
        <div class="trow body">
          <div class="item comments">
            <span>
              {% if p.comment_count %}
                  {{p.comment_count}}
              {% else %}
                  -
              {% endif %}
            </span>
          </div>
          <div class="item small">
            <span>
              {% if p.funds_progress >= 0.1 and p.status >= 2 %}
                  {{p.funds_progress|int}}%
              {% else %}
              -
              {% endif %}
            </span>
          </div>
          <div class="item small">
            <span class="alignl">{{ p.date_added.strftime('%Y-%m-%d') }}</span>
          </div>
          <div class="item small">
            <span class="alignl"><a href="/user/{{ p.user.username }}">{{ p.user.username }}</a></span>
          </div>
          <div class="item big">
            <a href="/proposal/{{ p.id }}">{{ p.headline }}</a>
          </div>
        </div>
      {% endfor %}
    </div>

{% endmacro %}